@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <br />
    <br />

    <h1 class="display-4">Click Here for API</h1>
    <p>API/Employee <a href="https://localhost:7186/api/employee">localhost:7186/api/employee</a>.</p>

    <br />
    <br />

    <h1 class="display-4">Click Here for React Server URL</h1>
    <p>React Server URL <a href="http://localhost:3001/">localhost:3001</a>.</p>

</div>